/** CSS Variables **/
:root {
    --black: #000;
    --dark-blue: #0a081e;
    --white: #fff;
    --light-grey: rgba(0,0,0,.3);
    --light-grey-100: #6f6f6f;
    --light-grey-200: rgba(255,255,255,.43);
    --nav-height-desktop: 150px;
}

/** Font face **/
@font-face {
    font-family: "Averta CY";
    src: url("../fonts/AvertaCY-Light.woff2") format('woff2');
    font-weight: 100;
}

@font-face {
    font-family: "Averta CY";
    src: url("../fonts/AvertaCY-Regular.woff2") format('woff2');
    font-weight: 400;
}

@font-face {
    font-family: "Averta CY";
    src: url("../fonts/AvertaCY-Semibold.woff2") format('woff2');
    font-weight: 600;
}


*, *::before, *::after {
    box-sizing: border-box;
}

html {}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    min-height: 100vh;
    overflow-x: hidden;
    font-family: "Averta CY", sans-serif;
    font-weight: 400;
    // background-color: var(--dark-blue)
}

h1, .h1 {
    font-size: 90px;
    line-height: 1;
}

h2, .h2 {
    font-size: 70px;
    line-height: 1;
}

h3, .h3 {

}

h4, .h4 {
    font-size: 32px;
    line-height: 1.5;
}

p {
    font-size: 20px;
    line-height: 1.2;
}

a {
    color: var(--black);
    font-size: 20px;
    text-decoration: none;
}

button {
    color: var(--black);
    font-size: 20px;
    font-family: "Averta CY", sans-serif;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/** Layouts **/
.container {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 90vw;
}