:root {
    --black: #000;
    --dark-blue: #0a081e;
    --white: #fff;
    --light-grey: rgba(0,0,0,.3);
    --light-grey-100: #f1ede7;
    --light-grey-200: rgba(255,255,255,.43);
    --nav-height-desktop: 150px;
    --text-color: var(--black);
    --background-color: var(--light-grey-100);
    --color-mode: "light"
}