{{> partials/header}}

<header class="header container container-center">
    <div class="header__content">
        <div class="header__nav">
            <h2 class="p">Take a look at these animations</h2>
            <ul class="header__nav-links">
                <li class="header__nav-link h3">
                    <a href="/">
                        <span>01</span>
                        <span>svg distortions</span>
                    </a>
                </li>
                <li class="header__nav-link h3">
                    <a href="/">
                        <span>02</span>
                        <span>timelines</span>
                    </a>
                </li>
                <li class="header__nav-link h3">
                    <a href="/">
                        <span>03</span>
                        <span>page transitions</span>
                    </a>
                </li>
                <li class="header__nav-link h3">
                    <a href="/">
                        <span>04</span>
                        <span>reveal animations</span>
                    </a>
                </li>
                <li class="header__nav-link h3">
                    <a href="/">
                        <span>05</span>
                        <span>text animations</span>
                    </a>
                </li>
                <li class="header__nav-link h3">
                    <a href="/">
                        <span>06</span>
                        <span>svg distortions</span>
                    </a>
                </li>
                <li class="header__nav-link h3">
                    <a href="/">
                        <span>07</span>
                        <span>marquee effects</span>
                    </a>
                </li>
                <li class="header__nav-link h3">
                    <a href="/">
                        <span>08</span>
                        <span>cursor animations</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="header__resources">
            <h3 class="p">Useful resources for animations</h3>
            <ul class="header__resources-links">
                <li class="header__resources-link"><a href="/">GSAP</a></li>
                <li class="header__resources-link"><a href="/">Codrops</a></li>
                <li class="header__resources-link"><a href="/">Awwwards</a></li>
                <li class="header__resources-link"><a href="/">SuperHi</a></li>
            </ul>
        </div>
    </div>
</header>


{{> partials/footer}}