{{> partials/header}}

<header class="header container">
    <div class="header__content">
        <h1>
            <span>Animation playground</span>
            <span>to explore ideas</span>
        </h1>
    </div>
</header>


{{> partials/footer}}