.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // background-color: rosybrown;
    height: auto;

    @media(min-height: 770px){
        height: calc(100vh - var(--nav-height) - var(--footer-height));
    }

    .header__content {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        width: 100%;
        height: 100%;

        @media(min-width: 768px){
            flex-direction: row;
            height: auto;
        }

        ul {
            list-style: none;
            padding-left: 0;
        }

        .p {
            font-weight: 100;
            opacity: .6;
        }
    }    

    &__nav {
        flex: 2 0 80%;

        &-links {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            margin-top: 30px;

            @media(min-width: 768px){
                flex-direction: row;
                margin-top: 40px;
            }
        }

        &-link {
            flex: 1 1 100%;
            width: 100%;
            white-space: nowrap;
            padding-bottom: 20px;
            perspective: 1000px;

            @media(min-width: 768px){
                padding-bottom: 4vw;
                flex: 1 1 50%;
                width: 50%;
            }

            a {
                display: flex;
                align-items: center;
                // transform: rotateX(291deg);
                // -webkit-transform: translate3d(0, 0%,0) rotate3d(1, 0, 0, 290deg) scale3d(0.5, 0.5, 0.5);
                transform-style: preserve-3d;
                backface-visibility: hidden;
                transform-origin: 50% 50%;
                transform: translate3d(0, 100%,0) rotate3d(1, 0, 0, 210deg) scale3d(0.8, 0.8, 0.8);
                opacity: 0;

                &:hover, &:focus {
                    span:last-of-type {
                        color: var(--text-color);
                        -webkit-text-fill-color: var(--text-color);
                        transition: color 5s ease, -webkit-text-fill-color 5s ease;
                    }
                }
            }

            span:last-of-type {
                font-size: 30px;
                font-weight: bold;
                line-height: 1;
                color: transparent;
                -webkit-text-stroke-color: var(--text-color);
                -webkit-text-stroke-width: 0.7px;
                -webkit-text-fill-color: transparent;
                transition: color 5s ease, -webkit-text-fill-color 5s ease;

                @media(min-width: 480px){
                    font-size: 40px;
                }
                
                @media(min-width: 768px){
                    line-height: 0.5;
                    font-size: min(50px, 3vw);
                }
            }

            span:first-of-type {
                position: relative;
                top: 5px;
                font-size: 15px; 
                margin-right: 15px;

                @media(min-width: 480px){
                    top: 3px;
                    font-size: 20px; 
                }

                @media(min-width: 768px){
                    margin-right: 1.5vw;
                    font-size: min(26px, 1.5vw);
                }
            }
        }
    }

    &__resources {
        flex: 0 0 20%;
        padding-left: 0;

        @media(min-width: 768px){
            padding-left: 3vw;
        }

        &-link {
            padding-bottom: 15px;
            perspective: 800px;
            
            a {
                transform-style: preserve-3d;
                backface-visibility: hidden;
                transform-origin: 50% 50%;
                transform: translate3d(0, 100%,0) rotate3d(1, 0, 0, 210deg) scale3d(0.8, 0.8, 0.8);
                opacity: 0;
            }
        }
    }
}