.nav {

    position: relative;

    // Inverted version
    &.inverted:has(.light-mode) {
        background: var(--dark-blue);

        .nav-logo {
            color: var(--white)
        }
    }

    &.inverted:has(.dark-mode) {
        background: var(--white);
        
        .nav-logo {
            color: var(--dark-blue)
        }
    }

    .nav-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 35px;
        padding-bottom: 35px;
    }


    &-logo {
        font-size: 35px;
        font-weight: 600;
    }

    &-theme-toggle {
        width: 35px;
        height: 35px;
        position: relative;
        overflow: hidden;
        cursor: pointer;
        background: transparent;
        display: inline;
        padding: 0;
        margin: 0;
        border: none;


        &__dark, &__light {
            position: absolute;
            top: 0;
            width: 100%;
            transition: transform 0.7s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        }

        &__dark {
            transform: translateY(35px);
        }

        &__light {
        }

        &.dark-mode {
            .nav-theme-toggle__dark {
                transform: translateY(0);
            }
            .nav-theme-toggle__light {
                transform: translateY(35px);
            }
        }

        &.light-mode {
            .nav-theme-toggle__dark {
                transform: translateY(35px);
            }
            .nav-theme-toggle__light {
                transform: translateY(0);
            }
        }
    }
}